* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppings", sans-serif;
}

body {
  background: url(bg_image.jpg) no-repeat;
  background-size: cover;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  font-weight: 600;
}
.navbar a {
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
  color: #40f17b;
}

.navbar a:hover {
  color: #ededed;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 0.2rem;
}

.calculator {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px -2px 26px rgba(3, 2, 2, 3.2);
  transition: background-color 0.3s ease;
  border: 3px solid #89daa4;
}

.display {
  height: 50px;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  text-align: right;
  flex: 1;
}

.display .input {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  padding-right: 20px;
  color: white;
}

.display .output {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  padding-right: 20px;
  color: white;
}

.display .operator {
  color: #ec1010;
}

.display .brackets,
.display .percent {
  color: #e62f2f;
}

.keys {
  background-color: rgba(41, 45, 54, 0.4);
  margin: 10px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  box-shadow: 0px -2px 16px rgba(1, 2, 2, 3.8);
  width: 250px;
  height: 300px;
}
.keys .key {
  position: relative;
  cursor: pointer;
  display: block;
  height: 0;
  padding-top: 100%;
  background-color: #262933;
  border-radius: 1rem;
  transition: 0.1s;
  user-select: none;
}

.keys .key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #fff;
}

.keys .key:hover {
  box-shadow: inset 20px 20px 20px rgba(10, 0, 0, 0.2);
}

.keys .key.operator span {
  color: #eb6666;
}

.keys .key.action span {
  color: #26fed7;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 6%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #40f17b;
}

@media screen and (min-width: 1440px) {
  .calculator {
      height: 70%;
   }
}
