*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppings', sans-serif;
}

body
{
    color: #ededed;
    background: #081b29;
}

.header
{
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background:   #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    position: relative;
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
 }
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color:#fff;
    text-decoration:none;
    font-weight: 500;
    margin-left: 35px;
    color: #0ef;
}

.navbar a:hover{
    color: #ededed;
}

.container 
{
    margin: 40px auto;
    align-self:center;
    height: 400px;
    width: 436px;
    background-color: #0ef;
    border-radius: 3%;
    padding: 2rem;
}

.tb
{
    margin-top: 10px;
    height: 100px;
    width: 100%;
    border-radius: 5%;
 }

 .btnrw
 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 .button1 {
    height: 50px;
    width: 22%;
    border-radius: 12%;
    background-color: #051129;
    color: white;
}


.button1:hover{
    background-color:white;
    color: #051129;
    font-size: larger;
}

footer
{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background:#051129; 
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 50%;
        height: 50%;
        padding: 20px;
    }

    .button1 {
        width: 20%;
    }
}


@media screen and (max-width: 576px) {
    .container {
        width: 60%; /* Adjust container width for small mobile screens */
        height: 40%;
        padding: 20px;
    }
.tb{
    height: 50px;
}

}

@media screen and (max-width: 320px) {
    .container {
        width: 60%; /* Adjust container width for small mobile screens */
        height: 20%;
        padding: 10px;
    }
.tb{
    height: 50px;
}
}
 